---
layout: none
---

<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/reset.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v6.7.2/css/all.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=M+PLUS+1p&family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>
      <h1>{{ site.title }}</h1>
    </header>
    <main>
      <div class="wrapper">
        <p class="center font120">日にちを選んでください。</p>
        {% comment %} すべての写真ファイルからフォルダ名(＝日付)を抽出 {%
        endcomment %}

        <ul id="dates">
          {% assign folders = site.static_files | where_exp: "f", "f.path
          contains '/photos/'" %} {% assign dates = "" | split: "" %} {% for f
          in folders %} {% assign parts = f.path | split: "/" %} {% assign
          folder = parts[2] %} {% unless dates contains folder %} {% assign
          dates = dates | push: folder %} {% endunless %} {% endfor %} {% assign
          dates = dates | sort | reverse %} {% for d in dates %}
          <li data-date="{{ d }}">
            <a href="/day.html?date={{ d }}"><span>{{ d }}</span></a>
          </li>

          {% endfor %}
        </ul>
      </div>
    </main>
    <footer>
      <div class="wrapper">
        <p>&copy; {{ site.time | date: "%Y" }} {{ site.title }}</p>
      </div>
    </footer>

    <script>
      document.querySelectorAll("#dates li").forEach((li) => {
        const ymd = li.dataset.date;
        if (!ymd) return;

        const y = ymd.slice(0, 4);
        const m = ymd.slice(4, 6);
        const d = ymd.slice(6, 8);

        const dt = new Date(`${y}-${m}-${d}`);

        // 2025年11月14日(金)
        const formatted = new Intl.DateTimeFormat("ja-JP", {
          weekday: "short",
          year: "numeric",
          month: "long",
          day: "numeric",
        }).format(dt);

        // リンクの中身を書き換え
        li.querySelector("a span").textContent = formatted;
      });
    </script>
  </body>
</html>
