@charset 'UTF-8';

body {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background-color: #efefef;
  font-size: 16px;
  color: #212121;
  line-height: 1.7;
}
ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
img {
  max-width: 100%;
  width: 100%;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}
.left {
  text-align: left;
}

// font60からfont130まで、5ずつ
// 60〜130 を 5刻みで作る
@for $i from 12 through 26 {
  $size: $i * 5;
  .font#{$size} {
    font-size: #{$size + "%"};
  }
}

header {
  // background-color: #555;
  padding: 2rem 0;
}
main {
  min-height: 76.5vh;
}
footer {
  text-align: center;
  font-size: 0.875rem;
  color: #777;
  padding: 2rem 0;
}
.wrapper {
  max-width: 800px;
  margin: 0 auto;
}
a {
  color: #1a0dab;
  @media screen and (max-width: 767px) {
    color: #1558d6;
  }
}
a:hover {
  cursor: pointer;
}
h1 {
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  a {
    text-decoration: none;
    color: inherit;
  }
  &.date-heading {
    margin-bottom: 0.8rem;
  }
}
.header-title {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 0;
  a {
    text-decoration: none;
    color: inherit;
    opacity: 0.7;
    transition: ease 0.5s;
    &::before {
      font: var(--fa-font-solid);
      content: "\e3af";
      display: inline-block;
      margin-right: 5px;
      font-size: 0.8em;
      vertical-align: baseline;
      color: #1a0dab;
    }
    &:hover {
      opacity: 1;
    }
  }
}
.img_sora {
  line-height: 1;
}
nav {
  &.direction-nav {
    display: flex;
    gap: 10px;
    margin: 0.5rem 0;
    a {
      display: block;
      text-decoration: none;
      color: initial;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 1rem 2rem;
      box-shadow: inset 0px 0px 14px -4px rgba(0, 0, 0, 0);
      transition: ease 0.5s;
      text-align: center;
      &:hover {
        font-weight: 700;
        background-color: rgba(255, 255, 255, 0.3);
      }
      &:hover,
      &.active {
        box-shadow: inset 0px 0px 14px -4px rgba(0, 0, 0, 0.5);
        font-weight: 500;
        font-size: 1.05rem;
      }
    }
  }
}

#dates {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 5px;
  margin-top: 2rem;
  a {
    font-size: 1.1rem;
    display: block;
    padding: 1rem 2rem;
    text-decoration: none;
    color: initial;
    box-shadow: inset 0px 0px 14px -4px rgba(0, 0, 0, 0);
    transition: ease 0.5s;
    text-align: center;
    &:hover {
      font-weight: 700;
      background-color: rgba(255, 255, 255, 0.2);
      box-shadow: inset 0px 0px 14px -4px rgba(0, 0, 0, 0.5);
      span::before {
        opacity: 1;
      }
    }
    span {
      display: inline-block;
      position: relative;
      padding-left: 1.5rem;

      &::before {
        font: var(--fa-font-solid);
        content: "\f152";
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: #1a0dab;
        font-size: 0.95em;
        opacity: 0.7;
      }
    }
  }
}

.hitokoto {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 2rem 0;
  .hitokoto-heading {
    text-align: center;
    font-size: 0.9rem;
    font-weight: bold;
    strong {
      text-align: center;
      padding: 0.8em 1em;
      border-radius: 30px;
      text-align: left;
      background-color: #c5eafa;
      display: inline-block;
    }
  }
  .speechBubble {
    position: relative;
    display: inline-block;
    padding: 0.8em 1em;
    border-radius: 36px;
    background-color: #8ce1e2;
    text-align: left;
    color: inherit;
  }

  .speechBubble::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    border-style: solid;
    border-width: 10px 0 0 11px;
    border-color: #8ce1e2 transparent transparent;
    translate: -50% 100%;
    transform: skew(8deg);
    transform-origin: top;
  }
}
.pressure-chart {
  text-align: center;
  margin: 4rem auto 2rem;
  padding: 2rem;
  background-color: rgba(255, 255, 255, 0.5);
  h2 {
    margin-bottom: 0.8rem;
    font-size: 1.7rem;
  }
}

@media screen and (max-width: 767px) {
  body {
    font-size: 15px;
    &.days {
      header {
        padding: 0.5rem 0;
      }
    }
  }
  header {
    padding: 1.5rem 0;
  }
  h1 {
    font-size: 1.6rem;
  }
  .header-title {
    font-size: 1.2rem;
    margin: 0 3vw;
    &::before {
      color: #1558d6;
    }
  }
  nav {
    &.direction-nav {
      gap: 2vw;
      margin: 5px 2vw;
      a {
        padding: 0.7rem 1vw;
      }
    }
  }
  #dates {
    margin: 1.5rem 3vw;
    a {
      padding: 1rem 1vw;
    }
    span::before {
      color: #1558d6;
    }
  }
  .hitokoto {
    margin: 2rem 2vw;
    .hitokoto-heading {
      flex: 0 0 4.5rem;
      strong {
        padding: 0.8em 2vw;
      }
    }
  }
  .pressure-chart {
    padding: 1em 2vw;
    h2 {
      font-size: 1.5rem;
    }
  }
  footer {
    padding: 0 0 0.5rem;
  }
}
